div.acessibilidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #00796B;
}

ul#atalhos, #botoes {
    display: flex;
    font-family: 'Roboto';
}

ul#atalhos, #botoes li {
    list-style-type: none;
}

#atalhos li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

#botoes li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

@media (max-width: 769px) {
    div.acessibilidade {
        display: none !important;
    }
}